$navBarMargin: 15%;

.wrapper{
    height: 100%;
}
.nabBarContainer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: $navBarMargin;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;

    li{
        a:hover{
            background-color: rgb(94, 175, 163);
            color: white;
        }
        a {
            display: block;
            color: rgb(4, 41, 41);
            padding: 8px 16px;
            text-decoration: none;
        }
    }

}
.contentContainer{
    margin-left: $navBarMargin;

    padding-left: 10px;
    min-height: 100%;
    width: auto;
    border: 1px solid #302f2f;   
}